body {
  background-color: #62929e;
  color: white;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: orange;
}

header {
  background-color: #62929e;
  border-bottom: 1px solid orange;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right:0;
}

header > p,
h1 {
  margin: 10px;
}

.title {
  font-weight: bold;
  font-size: 30px;
}

.sql_link a {
  font-weight: 100;
  vertical-align: bottom;
}

.icon {
    margin-left: auto;
}

.card_deck {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    justify-content: space-around;
}

.content_card {
    width: 30vw;
    min-height: 80vh;
    border: 2px solid orange;
    border-radius: 20px;
    background: white;
    color: black;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 15px;
}

.content_header {
    font-weight: bold;
    border-bottom: 2px solid gray;
}

.command {
    display: flex;
    flex-direction: column;
    justify-items: center;
     margin: 20px;
}
.sql_command {
    font-weight: bold;
    margin: 0;
}

.sql-keywords {
    color:cornflowerblue;
    text-transform: uppercase;
}

.sql-keywords2 {
    color:green;
    text-transform: uppercase;
}

.attribut {
    color:blueviolet;
    text-transform: uppercase;
}

.explanation {
    margin: 0;
}

.einrueck {
    text-indent: 30px;
}

.commandword {
    font-weight: bold;
}


.sammelbegriff{
    color: green;
}

.keyword_list  {
    margin: 0;
}

li {margin: 0;}

footer {
    background-color: #62929e;
    border-top: 1px solid orange;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
